body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background: url(bg.jpg) no-repeat center center;
    background-size: cover;
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#copyButton{
    height: 100%;
    border: 1px dashed!important;
}

.pressCopy{
    border: 1px dashed!important;
    background-color: #70a3fc73!important;
}

.calculatorDisplay::-webkit-scrollbar {
    height: 5px;
}
  
.calculatorDisplay::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
.calculatorDisplay::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #D13F30;
}
  
.calculatorDisplay::-webkit-scrollbar:vertical {
    display: none;
}

.displayContainer{
    width: 480px;
}

.calculatorDisplay{
    border-radius: 15px!important;
    border: 0;
    width: 100%;
    font-size: 1.75rem;
    color: #ECE4DB;
    background: #191f3269;
    outline: red 5px;
    white-space: nowrap;
    overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
/* input[type=number] {
    -moz-appearance: textfield;
} */

.buttonContainer{
    width: 480px;
    background-color: #191f3269;
    border-radius: 20px
}

button{
    background-color: #83838349;
    color: white;
    width: 100%;
    border-radius: 7.5px;
    height: 130%;
    transform: scale(1.15);
    perspective: 1000px;
    transform-origin: center bottom 0px;
    transition-duration: .2s;
    font-size: 1.20rem;
    border: 0px solid!important;
}

.delete{
    background-color: #627396;
}

.reset{
    transform: scale(1.1);
    perspective: 1000px;
    transform-origin: center bottom 0px;
    transition-duration: .2s;
    font-size: 1.20rem;
    background-color: #627396;
}

.equal{
    transform: scale(1.1);
    perspective: 1000px;
    transform-origin: center bottom 0px;
    transition-duration: .2s;
    font-size: 1.20rem;
    background-color: #D13F30;
}

.pressed {
    transform: scale(1);
}

.calculatorBody{
    border: 1px solid;
    border-radius: 20px;
}