body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #3B4664;
}

.calculatorDisplay::-webkit-scrollbar {
    height: 5px;
}
  
.calculatorDisplay::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
.calculatorDisplay::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #D13F30;
}
  
.calculatorDisplay::-webkit-scrollbar:vertical {
    display: none;
}

.displayContainer{
    width: 480px;
}

.calculatorDisplay{
    border-radius: 10px!important;
    border: 0;
    width: 100%;
    font-size: 1.75rem;
    color: #ECE4DB;
    background: #191F32;
    outline: red 5px;
    white-space: nowrap;
    overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
/* input[type=number] {
    -moz-appearance: textfield;
} */

.buttonContainer{
    width: 480px;
    background-color: #191F32;
    border-radius: 20px
}

button{
    background-color: #ECE4DB;
    width: 100%;
    border-radius: 7.5px;
    height: 130%;
    transform: scale(1.15);
    perspective: 1000px;
    transform-origin: center bottom 0px;
    transition-duration: .2s;
    font-size: 1.20rem;
}

.delete{
    background-color: #627396;
}

.reset{
    transform: scale(1.1);
    perspective: 1000px;
    transform-origin: center bottom 0px;
    transition-duration: .2s;
    font-size: 1.20rem;
    background-color: #627396;
}

.equal{
    transform: scale(1.1);
    perspective: 1000px;
    transform-origin: center bottom 0px;
    transition-duration: .2s;
    font-size: 1.20rem;
    background-color: #D13F30;
}

.pressed {
    transform: scale(1);
}